<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.recipekithub.model.mapper.CartMapper">
	
	<resultMap type="org.kosta.recipekithub.model.vo.CartVO" id="cartProductInfoList">
		<result column="MEALKIT_NAME" property="mealkitboardVO.mealkitName"/>
		<result column="MEALKIT_IMAGE" property="mealkitboardVO.mealkitImage"/>
		<result column="MEALKIT_PRICE" property="mealkitboardVO.mealkitPrice"/>
		<result column="CART_DETAIL_QUANTITY" property="cartdetailVO.cartDetailQuantity"/>
		<result column="IS_CHECKED" property="cartdetailVO.isChecked"/>
		<result column="MEMBER_EMAIL" property="memberVO.memberEmail"/>
	</resultMap>
	<select id="selectMyCart" resultMap="cartProductInfoList">
		SELECT mb.MEALKIT_NAME,mb.MEALKIT_IMAGE ,mb.MEALKIT_PRICE ,cd.CART_DETAIL_QUANTITY,cd.IS_CHECKED
		FROM CART_DETAIL cd, MEALKIT_BOARD mb, CART c, "MEMBER" m 
		WHERE cd.CART_NO = c.CART_NO
		AND cd.MEALKIT_NO = mb.MEALKIT_NO 
		AND c.CART_ORDER_STATUS = 'N'
		AND m.MEMBER_EMAIL = #{memberEmail}
		AND cd.IS_ORDERED_DATAIL = 'N'
	</select>
	
	<update id="updateCart">
		UPDATE CART_DETAIL SET CART_DETAIL_QUANTITY = #{cartDetailQuantity}
		WHERE MEALKIT_NO = #{mealkiitNo} AND CART_NO = #{cartNo} AND IS_ORDERED_DATAIL = 'N'
	</update>
	
	<!-- 현재 활성화된 카트가 존재하는지 확인 -->
	<select id="findMyCartStatusYN" resultType="String">
		SELECT c.cart_no 
		FROM CART c  
		WHERE c.CART_ORDER_STATUS = 'N'
		AND c.MEMBER_EMAIL = #{memberEmail} 
	</select>
	
	<select id="findCartNoByMemberEmail" resultType="org.kosta.recipekithub.model.vo.CartVO">
		SELECT c.CART_NO, c.CART_ORDER_STATUS, c.CART_TOTAL
		FROM CART C,"MEMBER" m 
		WHERE m.MEMBER_EMAIL = #{memberEmail} 
		AND C.CART_ORDER_STATUS = 'N'
	</select>
	
	<!-- 활성화된 카트가 없으면 카트 생성 -->
	<insert id="creatMyCart">
		INSERT INTO CART values(CART_seq.nextval,#{memberEmail},'N',0)
	</insert>
	
	<!-- 활성화된 카트가 있으면 cart_detail에 값 추가 -->
	<insert id="insertMyCartDetail">
		INSERT INTO CART_DETAIL values(#{mealkitNo},#{cartNO},#{cartDetailQuantity},'Y','N')
	</insert>
	
	<!-- 활성화된 카트에 동일한 밀키트가 있으면 수량만 변경한다, 그를 위한 수량 조회 -->
	<select id="findDuplicateMealkitCount" resultType="int">
		SELECT COUNT(*) 
		FROM CART_DETAIL cd , CART c , "MEMBER" m 
		WHERE c.CART_NO = cd.CART_NO 
		AND m.MEMBER_EMAIL = c.MEMBER_EMAIL
		AND c.CART_ORDER_STATUS = 'N' 
		AND cd.IS_ORDERED_DATAIL = 'N'
		AND cd.MEALKIT_NO = #{mealkitNo}
		AND m.MEMBER_EMAIL = #{memberEmail}
	</select> 
	
	<!-- 활성화된 카트에 밀키트가 있으면 수량을 변경한다 -->
	<update id="updateCartDetailQuantity">
		UPDATE CART_DETAIL SET CART_DETAIL_QUANTITY = CART_DETAIL_QUANTITY + #{cartDetailQuantity}
		WHERE CART_NO = #{cartNo} AND MEALKIT_NO = #{mealkitNo}
	</update>
	
	
	<select id="findCartNoByMemberEmailOrderSuccess" resultType="org.kosta.recipekithub.model.vo.CartVO">
		SELECT c.CART_NO, c.CART_ORDER_STATUS, c.CART_TOTAL
		FROM CART C,"MEMBER" m 
		WHERE m.MEMBER_EMAIL = #{memberEmail} 
		AND C.CART_ORDER_STATUS = 'Y'
	</select>
	
	<select id="findMealkitBoardByMealkitName" resultType="org.kosta.recipekithub.model.vo.MealkitboardVO">
		SELECT * FROM MEALKIT_BOARD WHERE MEALKIT_NAME = #{mealkitName}
	</select>
	
	<resultMap type="org.kosta.recipekithub.model.vo.CartVO" id="mealkitQuantityComparison">
		<result column="MEALKIT_NO" property="mealkitboardVO.mealkitNo"/>
		<result column="MEALKIT_INVENTORY" property="mealkitboardVO.mealkitInventory"/>
		<result column="CART_DETAIL_QUANTITY" property="cartdetailVO.cartDetailQuantity"/>
	</resultMap>
	<select id="mealkitQuantityComparisonByCart" resultMap="mealkitQuantityComparison">
		SELECT mb.MEALKIT_NO,mb.MEALKIT_INVENTORY,cd.CART_DETAIL_QUANTITY
		FROM MEALKIT_BOARD mb, CART_DETAIL cd 
		WHERE cd.MEALKIT_NO = mb.MEALKIT_NO 
		AND cd.CART_NO = #{cartNo}
	</select>
	
	<update id="isCheckedChange">
		UPDATE CART_DETAIL SET IS_CHECKED = #{chkinfo} WHERE MEALKIT_NO = #{mealkitNo}
	</update>
	
	<delete id="deleteMyCart">
		DELETE FROM CART_DETAIL WHERE MEALKIT_NO = #{mealkitNo} AND CART_NO = #{cartNo}
	</delete>
	
	<!-- d3 chart list -->
	<select id="findSalesRankAdmin" resultType="org.kosta.recipekithub.model.vo.SalesVO">
		SELECT mb.MEALKIT_NO , mb.MEALKIT_NAME, SUM(cd.CART_DETAIL_QUANTITY ) AS CART_DETAIL_QUANTITY , SUM(cd.CART_DETAIL_QUANTITY ) * mb.MEALKIT_PRICE AS mealkitTotalPrice
		FROM MEALKIT_BOARD mb ,CART_DETAIL cd 
		WHERE mb.MEALKIT_NO = cd.MEALKIT_NO 
		AND cd.IS_ORDERED_DATAIL = 'Y'
		GROUP BY mb.MEALKIT_NO,mb.MEALKIT_NAME ,mb.MEALKIT_PRICE
		ORDER BY mealkitTotalPrice desc
	</select>
	<select id="findTotalLikeRecipe" resultType="org.kosta.recipekithub.model.vo.ChartVO">
		SELECT RB.RECIPE_BOARD_TITLE,RB.MEMBER_EMAIL,COUNT(LR.RECIPE_BOARD_ID) RECIPE_LIKE_COUNT
		FROM RECIPE_BOARD rb , LIKE_RKH lr
		WHERE RB.RECIPE_BOARD_ID = LR.RECIPE_BOARD_ID 
		GROUP BY RB.RECIPE_BOARD_TITLE, RB.MEMBER_EMAIL
		ORDER BY RECIPE_LIKE_COUNT DESC 
	</select>
	<select id="findTotalLikeMealkit" resultType="org.kosta.recipekithub.model.vo.ChartVO">
		SELECT mb2.MEALKIT_NAME ,COUNT(mb2.MEALKIT_NO) mealkitCount
		FROM MEALKIT_BOOKMARK mb , MEALKIT_BOARD mb2
		WHERE mb.MEALKIT_NO = mb2.MEALKIT_NO 
		GROUP BY mb2.MEALKIT_NAME
		order BY mealkitCount
	</select>
</mapper>