<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.recipekithub.model.mapper.MealkitStarScoreMapper">

<resultMap type="org.kosta.recipekithub.model.vo.MealkitStarScore" id="mealkitStarMap">
	<id property="mealkitCommentVO.mealkitCommentId" column="mealkit_comment_id"/>
    <result property="mealkitCommentVO.mealkitBoard.mealkitNo" column="mealkit_no"/>
    <result property="mealkitStarScore" column="mealkit_star_score"/>
</resultMap>

<insert id="insertMealkitStar">
	insert into mealkit_star_score values(#{memberEmail}, #{mealkitCommentNo}, #{mealkitStar})	
</insert>


<select id="findMealkitStarList" resultMap="mealkitStarMap">
	select s.mealkit_star_score from mealkit_comment m right outer join 
	mealkit_star_score s on m.mealkit_comment_id = s.mealkit_comment_id  where m.mealkit_no = #{value}
</select>

<select id="mealkitStarCnt">
	select count(*) from mealkit_comment;
</select>


<select id="findCommentStarList" resultMap="mealkitStarMap">
 select rnum, m.mealkit_comment_id, m.mealkit_no, 
 m.member_email, m.mealkit_comment_content, m.mealkit_comment_date, s.mealkit_star_score
 FROM (
 select row_number() over(order by mealkit_comment_date desc) AS rnum, mealkit_comment_id, mealkit_no , member_email, mealkit_comment_content, mealkit_comment_date 
 from mealkit_comment
 where mealkit_no = #{num}
 ) m
 left outer join mealkit_star_score s on m.mealkit_comment_id = s.mealkit_comment_id 
 where rnum between #{pagination.startRowNumber} and #{pagination.endRowNumber}
 order by rnum
</select>

<!-- 현준 :  Index 밀키트 데이터 찾기 -->
<select id="findMealkitNoList" resultType="org.kosta.recipekithub.model.vo.MealkitboardVO">
	select m.mealkit_no, COALESCE(r.av, 0) mealkitStarScore, m.mealkit_name,  m.MEALKIT_IMAGE ,m.MEALKIT_PRICE 
	from
	mealkit_board m
	left join(
	SELECT MEALKIT_NO, ROUND(SUM(MEALKIT_STAR_SCORE) / COUNT(MEALKIT_NO),1) as av
	FROM MEALKIT_COMMENT MC
	INNER JOIN MEALKIT_STAR_SCORE MS ON MC.MEALKIT_COMMENT_ID = MS.MEALKIT_COMMENT_ID 
	group by MC.mealkit_no
	) r on m.mealkit_no = r.mealkit_no
	where m.status = 'Y'
	and 6 >= rownum
	order by mealkitStarScore desc, mealkit_reg_date desc
</select>

<resultMap type="org.kosta.recipekithub.model.vo.MealkitStarScore" id="mealkitStar">
	<result column="mealkit_star_score" property="mealkitStarScore"/>
</resultMap>

<select id="findMealkitStarAvg">
select COALESCE(r.av, 0) AS mealkit_Star_Avg
from
mealkit_board m
left join(
SELECT MEALKIT_NO, ROUND(SUM(MEALKIT_STAR_SCORE) / COUNT(MEALKIT_NO),1) as av
FROM MEALKIT_COMMENT MC
INNER JOIN MEALKIT_STAR_SCORE MS ON MC.MEALKIT_COMMENT_ID = MS.MEALKIT_COMMENT_ID 
group by MC.mealkit_no
) r on m.mealkit_no = r.mealkit_no
where m.status = 'Y'and m.mealkit_no = #{value}
</select>


</mapper>