<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.recipekithub.model.mapper.MealkitMapper">

<insert id="insertMealKit" parameterType="org.kosta.recipekithub.model.vo.MealKitBoard">
	INSERT INTO MEALKIT_BOARD(MEALKIT_NO, MEMBER_EMAIL, MEALKIT_NAME, MEALKIT_INFO, MEALKIT_INGREDIENTS, MEALKIT_PRICE, MEALKIT_REG_DATE, MEALKIT_INVENTORY, MEALKIT_CATEGORY, MEALKIT_IMAGE, STATUS, MEALKIT_TYPE) 
	VALUES(MEALKIT_BOARD_seq.nextval, #{memberVO.memberEmail}, #{mealkitName}, #{mealkitInfo}, #{mealkitIngredients}, #{mealkitPrice}, SYSDATE, #{mealkitInventory}, #{mealkitCategory}, #{mealkitImage}, #{status}, #{mealkitType})
<selectKey keyColumn="MEALKIT_NO" keyProperty="mealkitNo" resultType="int" order="AFTER">
	SELECT MEALKIT_BOARD_SEQ.CURRVAL FROM DUAL
</selectKey>
</insert>

<resultMap type="org.kosta.recipekithub.model.vo.MealKitBoard" id="memberInfo">
	<result column="member_email" property="memberVO.memberEmail" />
	<result column="member_name" property="memberVO.memberName" />
	<result column="member_nick" property="memberVO.memberNick" />
	<result column="member_image" property="memberVO.memberImage"/>
</resultMap>
<!--  -->


<select id="findMealKitByNo" parameterType="int" resultMap="memberInfo">
SELECT M.MEALKIT_NO, M.MEALKIT_INFO , M.MEMBER_EMAIL, M.MEALKIT_NAME, M.MEALKIT_INGREDIENTS, M.MEALKIT_PRICE, to_char(M.MEALKIT_REG_DATE, 'yyyy-mm-dd hh24:mi')as MEALKIT_REG_DATE,
M.MEALKIT_INVENTORY, M.MEALKIT_CATEGORY, M.MEALKIT_IMAGE, M.MEALKIT_BOARD_HITS, M.STATUS , U.MEMBER_EMAIL,U.MEMBER_NAME, U.MEMBER_NICK FROM MEALKIT_BOARD M INNER JOIN MEMBER U
ON M.MEMBER_EMAIL = U.MEMBER_EMAIL WHERE M.MEALKIT_NO = #{VALUE}
</select>

<select id="findMealKitList" resultType="org.kosta.recipekithub.model.vo.MealKitBoard" resultMap="memberInfo">
	SELECT M.MEALKIT_NO, M.MEALKIT_NAME, M.MEALKIT_INGREDIENTS, M.MEALKIT_PRICE, M.MEALKIT_REG_DATE, M.MEALKIT_EDIT_DATE, M.MEALKIT_INVENTORY,
	M.MEALKIT_CATEGORY, M.MEALKIT_IMAGE, M.MEALKIT_BOARD_HITS, M.MEALKIT_INFO, B.MEMBER_EMAIL, B.MEMBER_NICK FROM MEALKIT_BOARD M
	INNER JOIN MEMBER B ON M.MEMBER_EMAIL = B.MEMBER_EMAIL WHERE M.STATUS = 'Y' ORDER BY M.MEALKIT_NO DESC
	
</select>

<update id="updateMealkit" parameterType="org.kosta.recipekithub.model.vo.MealKitBoard">
	UPDATE MEALKIT_BOARD SET MEALKIT_NAME = #{mealkitName}, MEALKIT_INFO = #{mealkitInfo}, MEALKIT_INGREDIENTS = #{mealkitIngredients},
	MEALKIT_PRICE = #{mealkitPrice}, MEALKIT_INVENTORY = #{mealkitInventory}, MEALKIT_CATEGORY = #{mealkitCategory}, MEALKIT_EDIT_DATE = SYSDATE
	WHERE MEALKIT_NO = #{mealkitNo}
</update>

<update id="deleteMealkit" parameterType="int">
	update mealkit_board set status = 'N' where mealkit_no = #{value}
</update>

<update id="increaseMealkitHits" parameterType="int">
	update mealkit_board set mealkit_board_hits = mealkit_board_hits + 1 where mealkit_no = #{value}
</update>

<select id="findTotalPostCount">
		select count(*) from mealkit_board
		<where>
			status = 'Y'
			<if test="mealkitType != '전체'">
				and mealkit_type = #{mealkitType}
			</if>
			<if test="searchMealkit != null || searchMealkit != ''">
				and mealkit_name like '%' || #{searchMealkit} || '%'
			</if>
		</where>
	</select>


<select id="findAllMealkitBoard" resultMap="memberInfo">
SELECT rnum, mk.mealkit_no, mk.mealkit_name, mk.mealkit_board_hits, m.member_image,m.member_nick
FROM (
	SELECT ROW_NUMBER() OVER(ORDER BY 
	<if test="sort == '최신순'">   
	 mealkit_reg_date DESC
	</if>
	<if test="sort == '별점순'">
	COALESCE(r.av, 0) DESC, mealkit_reg_date DESC
	</if>
	<if test="sort == '조회수순'">
	mealkit_board_hits DESC, mealkit_reg_date desc
	</if>
	 )AS rnum,
	<if test = "sort == '최신순' || sort == '조회수순'">	
	mkb.mealkit_no, mkb.mealkit_name, mkb.member_email, mkb.mealkit_board_hits
	FROM mealkit_board mkb
	</if>
	 <if test = "sort == '별점순'">
	m.mealkit_no, COALESCE(r.av, 0), m.member_email,m.mealkit_board_hits,
	m.mealkit_name
	from mealkit_board m
	left join(
	SELECT MEALKIT_NO, ROUND(SUM(MEALKIT_STAR_SCORE) / COUNT(MEALKIT_NO),1) as av
	FROM MEALKIT_COMMENT MC
	INNER JOIN MEALKIT_STAR_SCORE MS ON MC.MEALKIT_COMMENT_ID = MS.MEALKIT_COMMENT_ID 
	group by MC.mealkit_no
	) r on m.mealkit_no = r.mealkit_no
	where m.status = 'Y'
	order by COALESCE(r.av, 0) desc
	</if>
	<where>
		<if test="mealkitType != '전체'">
			mealkit_type like '%' || #{mealkitType} || '%'
		</if>
		<if test="searchMealkit != null and searchMealkit != ''">
			and mealkit_name like '%' || #{searchMealkit} || '%'
		</if>
	</where>
	) mk 
	INNER JOIN member m ON mk.member_email = m.member_email
	AND rnum BETWEEN #{pagination.startRowNumber} AND #{pagination.endRowNumber}
	ORDER BY rnum
</select>

<select id="findMealkitByName" parameterType="string" resultMap="memberInfo">
select b.mealkit_image, b.mealkit_name, b.mealkit_board_hits, m.member_nick
from mealkit_board b inner join member m on b.member_email = m.member_email 
where b.mealkit_name like '%' || #{mealkitName} || '%' and b.status = 'Y'
</select>


</mapper>