<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.recipekithub.model.mapper.MealkitMapper">

<insert id="insertMealKit" parameterType="org.kosta.recipekithub.model.vo.MealKitBoard">
	INSERT INTO MEALKIT_BOARD(MEALKIT_NO, MEMBER_EMAIL, MEALKIT_NAME, MEALKIT_INFO, MEALKIT_INGREDIENTS, MEALKIT_PRICE, MEALKIT_REG_DATE, MEALKIT_INVENTORY, MEALKIT_CATEGORY) 
	VALUES(MEALKIT_BOARD_seq.nextval, #{memberVO.memberEmail}, #{mealkitName}, #{mealkitInfo}, #{mealkitIngredients}, #{mealkitPrice}, SYSDATE, #{mealkitInventory}, #{mealkitCategory})
<selectKey keyColumn="MEALKIT_NO" keyProperty="mealkitNo" resultType="int" order="AFTER">
	SELECT MEALKIT_BOARD_SEQ.CURRVAL FROM DUAL
</selectKey>
</insert>

<select id="findMealKitByNo" parameterType="int" resultType="org.kosta.recipekithub.model.vo.MealKitBoard">
	SELECT * FROM MEALKIT_BOARD WHERE MEALKIT_NO = #{VALUE}
	
</select>

<select id="findMealKitList" resultType="org.kosta.recipekithub.model.vo.MealKitBoard">
	select * from mealkit_board
	
</select>

<update id="editMealkit" parameterType="org.kosta.recipekithub.model.vo.MealKitBoard">
	UPDATE MEALKIT_BOARD SET MEALKIT_NAME = #{mealkitName}, MEALKIT_INFO = #{mealkitInfo}, MEALKIT_INGREDIENTS = #{mealkitIngredients},
	MEALKIT_PRICE = #{mealkitPrice}, MEALKIT_INVENTORY = #{mealkitInventory}, MEALKIT_CATEGORY = #{mealkitCategory} 
	WHERE MEALKIT_NO = #{mealkitNo}
</update>
</mapper>