<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.recipekithub.model.mapper.QnAMapper">
	
	<!-- Q&A 등록 -->
	<insert id="insertQnA">
		INSERT INTO QNA_BOARD VALUES (QNA_seq.NEXTVAL,#{memberEmail},#{boardTitle},sysdate,NULL,'2','N',#{boardContent})
	</insert>
	
	<!-- Q&A 전체조회 -->
	<resultMap type="org.kosta.recipekithub.model.vo.QnAVO" id="selectQnaListMap">
		<result column="MEMBER_EMAIL" property="memberVO.memberEmail"/>
	</resultMap>
	<select id="selectQnaList" resultMap="selectQnaListMap">
		SELECT * 
		FROM QNA_BOARD qb
		WHERE MEMBER_EMAIL = #{memberEmail} 
		order by BOARD_REG_DATE desc
	</select>
	
	<!-- Q&A 선택조회 -->
	<select id="selectQnaDetail" resultType="org.kosta.recipekithub.model.vo.QnAVO">
		SELECT * FROM QNA_BOARD qb WHERE BOARD_ID = #{boardId}
	</select>
	
	<!-- Q&A 수정 -->
	<update id="updateQnA">
		UPDATE QNA_BOARD SET BOARD_TITLE = #{boardTitle},BOARD_CONTENT = #{boardContent},BOARD_EDIT_DATE = SYSDATE WHERE BOARD_ID = #{boardId}
	</update>
	
	<!-- admin Q&A 전체조회 -->
	<resultMap type="org.kosta.recipekithub.model.vo.QnAVO" id="selectQnaListAdminMap">
		<result column="MEMBER_EMAIL" property="memberVO.memberEmail"/>
	</resultMap>
	<select id="selectQnaListAdmin" resultMap="selectQnaListAdminMap">
		SELECT * FROM QNA_BOARD qb 
	</select>
	
	<!-- admin Q&A 선택조회 -->
	<select id="selectQnaDetailAdmin" resultType="org.kosta.recipekithub.model.vo.QnAVO">
		SELECT * FROM QNA_BOARD qb WHERE BOARD_ID = #{boardId}
	</select>
	
	<!-- admin Q&A 답변 등록 -->
	<insert id="insertQnAAnswer" parameterType="org.kosta.recipekithub.model.vo.QnAAnswerVO">
	    INSERT INTO QNA_BOARD_ANSWER VALUES (BOARD_ANSWER_SEQ.NEXTVAL, #{boardId}, #{boardAnswerTitle}, #{boardAnswerContent}, sysdate, null, 2, #{answerMember})
	</insert>	
	
	<!-- admin Q&A 답변 등록시 BOARD_RESPONSE_STATUS 상태 변경 -->
	<update id="updateBoardResponseStatus">
		UPDATE QNA_BOARD SET BOARD_RESPONSE_STATUS = 'Y' WHERE BOARD_ID = #{boardId}
	</update>
	
	<!-- admin 선택한 Q & A 에 답변이 있는지 확인한다 -->
	<select id="selectChkQnAAnswer">
		SELECT qba.BOARD_ID , qba.BOARD_ANSWER_TITLE , qba.BOARD_ANSWER_CONTENT , qba.BOARD_ANSWER_REG_DATE , qba.ANSWER_MEMBER 
		FROM QNA_BOARD_ANSWER qba , QNA_BOARD qb 
		WHERE qba.BOARD_ID = qb.BOARD_ID 
		AND qba.BOARD_ID = #{boardId}
		AND qb.BOARD_RESPONSE_STATUS = 'Y'	
	</select>
	
</mapper>