<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.kosta.recipekithub.model.mapper.RecipeBoardMapper">

	<resultMap
		type="org.kosta.recipekithub.model.vo.RecipeBoardVO" id="member">
		<result column="member_nick" property="memberVO.memberNick"></result>
		<result column="member_Email" property="memberVO.memberEmail"></result>
		<result column="member_image" property="memberVO.memberImage"></result>
	</resultMap>
	<select id="findAllRecipeBoard" resultMap="member">
		SELECT rnum, r.recipe_board_id, m.member_nick, r.recipe_board_title, m.member_image,
		r.recipe_board_image, r.recipe_board_hits
		FROM (
		SELECT
		ROW_NUMBER() OVER(ORDER BY
		<if test="sort =='최신순'">
			recipe_reg_date DESC
		</if>
		<if test="sort == '좋아요순'">
			COALESCE(like_count, 0) DESC, recipe_reg_date DESC
		</if>
		<if test="sort =='조회순'">
			recipe_board_hits DESC, recipe_reg_date DESC
		</if>
		) AS rnum,
		<if test="sort =='최신순' || sort =='조회순'">
			rb.recipe_board_id, rb.member_email, rb.recipe_board_title, rb.recipe_board_image, rb.recipe_board_hits
			FROM recipe_board rb
		</if>
		<if test="sort == '좋아요순'">
			COALESCE(lr.like_count, 0) AS like_count, rb.recipe_board_id, rb.member_email,
			rb.recipe_board_title, rb.recipe_board_image, rb.recipe_board_hits
			FROM recipe_board rb
			LEFT JOIN (
			SELECT recipe_board_id, COUNT(recipe_board_id) AS like_count
			FROM like_rkh
			GROUP BY recipe_board_id
			) lr ON rb.recipe_board_id = lr.recipe_board_id
		</if>
		<where>
			<if test="type != '전체'">
				category_type = #{type}
			</if>
			<if test="ingredients != '전체'">
				and category_ingredients = #{ingredients}
			</if>
			<if test="method != '전체'">
				and category_method = #{method}
			</if>
			<if test="searchValue != null || searchValue != ''">
				and recipe_board_title like '%' || #{searchValue} || '%'
			</if>
		</where>
		) r
		INNER JOIN member m ON r.member_email = m.member_email
		AND rnum BETWEEN #{pagination.startRowNumber} AND
		#{pagination.endRowNumber}
		ORDER BY rnum
	</select>
	<select id="likeCount"
		parameterType="org.kosta.recipekithub.model.vo.RecipeBoardVO">
		select count(*) from LIKE_RKH where recipe_board_id =
		#{value}
	</select>	
	<insert id="insertRecipeBoard"
		parameterType="org.kosta.recipekithub.model.vo.RecipeBoardVO">
		insert into RECIPE_BOARD
		values(recipe_board_id_seq.nextval,#{memberVO.memberEmail},#{recipeBoardTitle},#{recipeBoardContent},
		sysdate,null,0,#{categoryType},#{categoryIngredients},#{categoryMethod},#{recipeBoardImage})
		<selectKey keyColumn="recipe_board_id"
			keyProperty="recipeBoardId" order="AFTER" resultType="long">
			SELECT
			recipe_board_id_seq.currval from dual
		</selectKey>
	</insert>

	<select id="findDetailRecipe" resultMap="member">
		select
		r.recipe_board_id, r.member_email, m.member_nick, m.member_image,
		r.recipe_board_title, r.recipe_board_image, r.recipe_board_content,
		r.category_type, r.category_ingredients, r.category_method,
		r.recipe_reg_date, r.recipe_edit_date
		from recipe_board r
		inner join
		member m on r.member_email = m.member_email
		where
		r.recipe_board_id=#{value}
	</select>
	<update id="updateRecipeHits"
		parameterType="org.kosta.recipekithub.model.vo.RecipeBoardVO">
		update recipe_board set recipe_board_hits =
		recipe_board_hits+1 where recipe_board_id = #{value}
	</update>
	<update id="updateRecipe"
		parameterType="org.kosta.recipekithub.model.vo.RecipeBoardVO">
		update recipe_board set recipe_board_title = #{recipeBoardTitle},
		recipe_board_content=#{recipeBoardContent},
		recipe_edit_date=sysdate,
		category_type = #{categoryType}, category_ingredients =
		#{categoryIngredients} , category_method = #{categoryMethod}
		<if test="recipeBoardImage!=null">
			, recipe_board_image=#{recipeBoardImage}
		</if>
		where recipe_board_id = #{recipeBoardId}
	</update>
	<delete id="deleteRecipe"
		parameterType="org.kosta.recipekithub.model.vo.RecipeBoardVO">
		delete from recipe_board where recipe_board_id =
		#{value}
	</delete>
	<select id="findTotalPostCount">
		select count(*) from recipe_board
		<where>
			<if test="type != '전체'">
				category_type = #{type}
			</if>
			<if test="ingredients != '전체'">
				and category_ingredients = #{ingredients}
			</if>
			<if test="method != '전체'">
				and category_method = #{method}
			</if>
			<if test="searchValue != null || searchValue != ''">
				and recipe_board_title like '%' || #{searchValue} || '%'
			</if>
		</where>
	</select>
	<select id="likeRecipeList">
	SELECT * FROM (
    			SELECT r.recipe_board_id, COUNT(lr.recipe_board_id) AS like_count, r.recipe_board_image, r.recipe_board_title
  				 FROM recipe_board r
   				 INNER JOIN like_rkh lr ON lr.recipe_board_id = r.recipe_board_id
    			GROUP BY r.recipe_board_id, r.recipe_board_image, r.recipe_board_title
    			ORDER BY like_count DESC
					)
				WHERE 6 >= ROWNUM
	</select>
</mapper>