@import "../custom-settings.part.less";

.memberIcon {
   filter: brightness(0.5) saturate(0%);
}

.cl-dateinput-register.single-datepicker {
	background-color: #ffffff;
	border: 1px solid #babfc7;
	border-radius: 3px;
	color: #333333;
	text-align: center;
	
	/* 데이트 인풋 버튼 스타일 */
	.cl-dateinput-button {
		background-color: #ecfef4;
		background-image: url("../images/controls/dateinput/icon-calendar-button.svg");
		background-size: 16px;
		border-left: 1px solid #babfc7;
		width: 30px;
	}
}

.emphasis {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0) 70%,
		#86D2A7 70%
	);
	/*border-top-left-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
}

/*
.a {
	padding: ;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline-block;

	border-right: 30px solid transparent;
	border-bottom: 30px solid #4c4c4c; 

	height: 0;
	line-height: 50px;
}
*/

/*
.diagonal {
  width: 0px;
  height: 0px;
  border-bottom: 60px solid gray;
  border-right: 40px solid rgba(0,0,0,0);
}
*/

/*
.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 59px solid #0CA44E;
  border-left: 0px solid transparent;
  border-right: 69px solid transparent;
}
*/

.btn-login {
   display: flex; /* 텍스트와 심플한 화살표를 가로로 배열 */
   justify-content: space-between; /* 텍스트와 심플한 화살표를 좌우로 배치 */
   align-items: center; /* 텍스트와 심플한 화살표를 상하 중앙에 배치 */
   position: relative; /* 원 배경 위치 기준 */
   padding: 30px 43px 30px 30px;
   width: 294;
   /*width: 260px;*/
   color: #333;
   font-size: 24px;
   font-weight: 700;
   text-decoration: none;
   background-color: #159e50;
   border-radius: 50px;
   box-shadow: 0 3px #696969;
   top: -2px;
}

.btn-login::before { /* 원 배경을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 30px; /* 요소 오른쪽에서 30px 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 30px;
   height: 30px;
   background-color: #f0fdf6;
   border-radius: 20px;
}

.btn-login::after { /* 심플한 화살표를 의사 요소로 표현 */
   content: '';
   transform: rotate(45deg); /* 45° 회전시킨 심플하 화살표로 만듦 */
   width: 6px;
   height: 6px;
   border-top: 2px solid #696969; /* 심플한 화살표의 한 변 */
   border-right: 2px solid #696969; /* 심플한 화살표의 한 변 */
   /* border-right: 2px solid #2b550e; 심플한 화살표의 한 변 */
}

.btn-login:hover { 
   box-shadow: 0 1px #696969;
   top: 1px;
}

.btn-apply {
   display: flex; /* 텍스트와 심플한 화살표를 가로로 배열 */
   justify-content: space-between; /* 텍스트와 심플한 화살표를 좌우로 배치 */
   align-items: center; /* 텍스트와 심플한 화살표를 상하 중앙에 배치 */
   position: relative; /* 원 배경 위치 기준 */
   padding: 30px 43px 30px 30px;
   width: 294;
   /*width: 260px;*/
   color: #333;
   font-size: 24px;
   font-weight: 700;
   text-decoration: none;
   background-color: #f9bb00;
   border-radius: 50px;
     box-shadow: 0 3px #696969;
   top: -2px;
}

.btn-apply::before { /* 원 배경을 의사 요소로 표현 */
   content: '';
   position: absolute;
   top: 50%; /* 상하 중앙 배치 */
   right: 30px; /* 요소 오른쪽에서 30px 위치에 배치 */
   transform: translateY(-50%); /* 상하 중앙 배치 */
   width: 30px;
   height: 30px;
   background-color: #fff4d2;
   border-radius: 20px;
}

.btn-apply::after { /* 심플한 화살표를 의사 요소로 표현 */
   content: '';
   transform: rotate(45deg); /* 45° 회전시킨 심플하 화살표로 만듦 */
   width: 6px;
   height: 6px;
   border-top: 2px solid #696969; /* 심플한 화살표의 한 변 */
   border-right: 2px solid #696969; /* 심플한 화살표의 한 변 */
}

.btn-apply:hover { 
   box-shadow: 0 1px #696969;
   top: 1px;
}

.navbar1 {
    background-color: rgba(19, 157, 79, 0.9);
    box-shadow: 5px 5px 5px 5px gray;
}

.footer {
	box-shadow: 0 -5px 5px -5px gray;
}

.footer-top {
    background-color: #159e50;
}

.footer-bottom {
    background: linear-gradient(to top, transparent, #159e50);
}
